html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.collapse.navbar-collapse li.active {
    border-bottom: 3px solid white;
}

.collapse.navbar-collapse li:hover {
    border-bottom: 3px solid #bce8f1;
}

nav.navbar-inverse {
    background-color: #003975;
}

.navbar-inverse .navbar-nav > li {
    /*border: 0;*/
    /*border-color: whitesmoke;*/
    /*border-left-width: 1px;*/
    /*border-right-width: 1px;*/
    /*border-style: solid;*/
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #116bbe;
}

img {
    max-width: 100%;
}

.shadow-box {
    box-shadow: 0 5px 20px black;
    padding: 15px;
    /*background-color: #dddddd;*/
}

.container {
    width: 95%;
}

hr {
    border-color: #aaaaaa;
}

textarea, input {
    padding: 5px;
}

textarea {
    resize: vertical;
}

ul.navbar-nav.navbar-right.nav {
    font-size: 0.9em;
}

ul.navbar-nav.navbar-right.nav li > a {
    padding: 15px 10px;
}